# # Help
#
# - Add: git submodule add https://github.com/<user>/<repo> <repo>
# - Update: git submodule update --remote --merge
#
# - Remove:
# https://stackoverflow.com/questions/1260748/how-do-i-remove-a-submodule
#
# ## Resources:
#
# - https://github.blog/open-source/git/working-with-submodules/
# - https://git-scm.com/book/en/v2/Git-Tools-Submodules

[submodule "logoclim"]
	path = logoclim
	url = https://github.com/sustentarea/logoclim
